
body{
margin:15px;
  font: 1em/1.6em sans-serif;
  background: #1a1a1a;
  color: #0bff27;
  font-family: 'Frijole', cursive;
}

#q {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

h1{
  font-weight: 300;
  text-align: center;
  font-size: 50px;
  margin: 0;
  padding: 50px;
  font-family: 'Frijole', cursive;
}


.typed-cursor{
  background: #0bff27;

  padding: 1px 2px;
}
.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}